@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

:root {
    --primary-color: hsl(222, 21%, 20%);
    --secondary-color: hsl(222, 21%, 25%);
    --text-color: hsl(22, 10%, 90%);
    --green-color: hsl(120, 35%, 47%);
    --purple-color: hsl(289, 90%, 50%);
}

*{
    box-sizing: border-box;
}

body {
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-family: 'Patrick Hand SC', cursive;
    margin: 0;
}

.header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    box-shadow: 0px 4px 5px hsla(0, 0%, 0%, 0.5);
    align-items: center;
}

.app-title h1 {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.app-title p {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 0.5px;
    justify-content: center
}


.search {
    background-color: transparent;
    border: 2px solid var(--purple-color);
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.search::placeholder {
    color: var(--text-color);
}

.search:focus {
    outline: none;
    background-color: var(--secondary-color);
    border: 2px solid var(--green-color);
    color: var(--text-color);
}

#main {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    padding: 10px;;
}

.idea {
    width: 300px;
    padding: 1rem;
    margin: 1rem;
    background-color: var(--primary-color);
    box-shadow: 0px 4px 5px hsla(0, 0%, 0%, 0.5);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.idea-img {
    width: 100%;
    text-align: center;

}

.idea-img img {
    width:  232px;
    height: 232px;
    padding: 1rem;
    border-radius: 50%;
    justify-self: center;
}

.idea-info {
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.5px;
    align-items: center;
}

.idea-title h3 {
    margin-top: 0;
}

.idea-info span {
    color: var(--purple-color);
    font-size: 1rem;
}

.idea-info span.green {
    color: var(--green-color);
}

.idea-detail {
    background-color: white;
    color: var(--primary-color);
    opacity: 95%;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 80%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
    overflow: scroll;
}

.idea:hover .idea-detail {
    transform: translateY(0);
}

.play_btn  {
    background-color: transparent;
    border: none;
}

.fa-play-circle {
    color: var(--green-color);
}

.fa-pause-circle {
    color: var(--purple-color);
}

.play_btn:focus {
    border: none;
    outline: none;
}

.source-container {
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.5px;
    align-items: center;
    padding: 0;
    margin: 0;
}

.source {

}

.spotify-btn {
    color: var(--green-color);
}

.twitter-btn {
    color: #1DA1F2;
}

.like-btn {
    background-color: var(--purple-color);
    border: none;
    padding: 3px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

.audio_button_parent span {
    color: #fff;
    text-align: center;
    display: block;
    width: 31px;
    padding: 5px 0px;
}